* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.contentwrapper {
    position: relative;
    width: 100%;
}

.wrapper{
    position: absolute;
    top: 173px;
    width: 100%;
}

h1{
    font-family: 'Lato', sans-serif;
    color: #fdf2e8;
    text-decoration: none;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color: #fdf2e8;
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    margin-top: -5px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #fdf2e8;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}
header {
    background-color: #47aba4;
    padding: 20px;
    float: left;
    height: 166px;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
}

#countdown {
    margin-top: 25px;
}

.menubtn {
    background-color: #f5a54b;
    opacity: 0.8;
    border: none;
    color: #fdf2e8;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    width: 220px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Hover effect */
button:hover {
    opacity: 0.7;
}

.menuimg {
    position: absolute;
    width: 100%;
    height: 166px;
}

.menubox {
    height: 166px;
}

.footer{
    background: #778D7B;
    text-align: center;
    clear: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    padding: 16px;
    color: #fcfcfc;
    height: 83;


}







/*************KONTAKT****************/

#contactTable{
    width: 340px;
    border-collapse: seperate;
    border-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20pt;
    color: #FDF2E8;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.smallBox, .largeBox{
    background-color: #47ABA4;
    text-align: center;
    height: 60px;
}

#soMe{
    width: 330px;
    margin: auto;
    background-color: #47ABA4;
    text-align: center;
    height: 60px;
    display: block;
    position: relative;
    top: 70%;
    padding-top: 5px;
}

#soMe img{
    width: 50px;
    height: 50px;
}


.contactText p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20pt;
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 25%;
}

#contactHeading{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
}





/* Responsive layout */
@media screen and (max-width: 800px) {
    .header, .information, .program, .kontakt {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}