* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Lato', sans-serif;
    color: #fdf2e8;
    text-decoration: none;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color: #fdf2e8;
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    margin-top: -5px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #fdf2e8;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}
header {
    background-color: #47aba4;
    padding: 20px;
    float: left;
    height: 166px;
    width: 100%;
    margin-bottom: 10px;
}

#countdown {
    margin-top: 25px;
}

.menubtn {
    background-color: #f5a54b;
    opacity: 0.8;
    border: none;
    color: #fdf2e8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 65px;
    margin-top: 40px;
    width: 220px;
    height: 80px;
}

/* Hover effect */
button:hover {
    opacity: 0.7;
}

.img {
   width: 100%; 
   height: 166px;
}

.menubox {
    float: left;
    height: 166px;
}

.footer{
    background: #778D7B;
    text-align: center;
    clear: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    padding: 16px;
    color: #fcfcfc;
    height: 83;


}

/* Responsive layout */
@media screen and (max-width: 800px) {
    .header, .information, .program, .kontakt {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}