@import url('https://fonts.googleapis.com/css?family=Lato:400|Open+Sans:300');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #FDF2E8;
    max-width: 100%;
    max-height:100%;
}

#headerWrapper{
    height: 100px;
    width:100vw;
    background-color: #47ABA4;
    z-index: 2;
    position: fixed;
    top: 0;
}

#mainHeading, a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #FDF2E8;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

#mainHeading{
    font-size: 30pt;
}

#menu{
    background-color: #47ABA4;
    min-width: 20%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    padding-top:150px;
}

#menuList li a{
    display: block;
    list-style-type: none;
    padding-left: 30px;
    margin: auto;
    text-align: left;
}

#menuList li:hover{
    opacity: 0.5;
}

#menuList .active{
    opacity: 0.5;
}

.categoryHeading{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25pt;
    color: #FDF2E8;
    text-align: center;
    margin-top: 5%;
}

.container{
    left: 20%;
    width: 80%;
    min-height:100vh;
    height: 700px;
    background-color: #454545;
    margin-bottom: 10%;
    margin-left: 20%;
}

.typographyC{
    height: 1300px;
}

.buttonC{
    height: 1000px;
}

.imagesC{
    height: 1000px;
}




/**********FARVER************/

#colors {
  padding-top:60px;
}

.colorItem{
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 160px;
    padding: 5px 5px 0px 5px;
    background-color: #FCFCFC;
}

#colorList{
    position: absolute;
    top:70%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    margin-bottom:100px;
    text-align: center;
}

#colorList, .colorItem .colorName{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #0D1B1E;
    display: inline-block;
    padding-top: 10px;
}

.colorCode{
    width: 100%;
    height: 100px;
    background-color: grey;
}


#blue{
    background-color: #47ABA4;
}

#orange{
    background-color: #F5A54B;
}

#white{
    background-color: #FDF2E8;
}

#black{
    background-color: #454545;
}


/************TYPOGRAFI***************/


#typographyWrapper{
    width: 80%;
    margin: auto;
}

h1 {
  font-family:'Lato', sans-serif;
  font-size:30pt;
  font-weight:400;
  color: #FDF2E8;
}

#h1, #h2, #h3, #bodyTekst {
  margin-top:90px;
  max-width:270px;
  color: #FDF2E8;
}

h2 {
  font-family:'Lato', sans-serif;
  font-weight:400;
  font-size: 25pt;
  color: #FDF2E8;
}

h3 {
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #FDF2E8;
}

p {
    font-family: 'Open Sans', serif-sans;
    font-weight: 300;
    font-size: 15pt;
    color: #FDF2E8;
}

span{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15pt;
    color: #454545;
}




/********KNAPPER OG LINKS*************/


#buttonWrapper label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #0D1B1E;
    height: 100%;
}


.menubtn{
    background-color: #f5a54b;
    opacity: 0.8;
    border: none;
    color: #fdf2e8;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    width: 220px;
    height: 80px;
    display: block;
    margin: auto;
}

.accordion{
    background-color: #48ABA4; 
     color: #FDF2E8;       
     cursor: pointer;
     padding: 18px;
     width: 340px;
     text-align: left;
     outline: none;
     font-size: 15pt; 
     transition: 0.4s;
     font-family: 'Lato', sans-serif; 
     border: none;
     display: block;
     margin: auto;
}

 
 .accordion:after {
    content: '\002B';  /* Unicode character til "plus" tegn */
    color: #FDF2E8;  
    font-weight: bold;  
    float: right;
}

.accordion:hover, .close:hover, menubtn.hover{
    opacity: 0.7;
}

.active:after {
    content: "\2212";  /* Unicode character til "minus" tegn */
}

.panel {
    padding: 0px 5px px;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
     font-family: 'Open Sans', sans-serif;
     font-size: 11pt;
     color: #FDF2E8;
     width: 340px;
     margin-left: 100px;
 }


.close {
    color: #fdf2e8;
    float: right;
    font-size: 100px;
    font-weight: bold;
    padding: 25px;
    position: absolute;
    top: 300px;
    left: 150px;
    cursor: pointer;
}

.buttonDiv{
    height: 100%;
    position: relative;
    top: 40%;
}

.buttonCode{
    width: 400px;
    height: 200px;
    margin:auto;
    background-color: #DADADA;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    overflow:scroll;
    overflow-x:hidden;
}


.codeSnippet pre{
    width: 100px;
}

.codeSnippet code{
    user-select: text;
    -webkit-user-select: text;
}

strong{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.9;
}




#btnWrapper {
  position:relative;
  z-index:0;
  top:-110%;
  left:10%;
  bottom:0;
}


/********BILLEDER OG LIGHTBOX*************/



.sampleImg {
  position:absolute;
  width:350px;
  left:30%;
  margin-top:5%;
  height: 166px;
}


.lightbox{
    display: block; 
    position: absolute; 
    left:30%;
    margin-top:5%;
    width: 340px; 
    height: 500px; 
    overflow: auto; 
    background-color: rgb(0,0,0,0.8); 
    background-color: rgba(0,0,0,0.8);
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.lightboxHeading{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25pt;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #FDF2E8;
}

.lightboxText{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20pt;
    width: 99%;
    position: relative;
    top: 30%;
    color: #FDF2E8;
}





/**********GRID OPSÆTNING************/


.column {
    float: left;
    width: 50%;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
